.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

/* sponsor section */
.sponsor {
  text-align: right;
  padding-bottom: 25px;
}

.sponsor__img {
  width: 100%;
}

.sponsor__link {
  font-family: fantasy, cursive;
}

/* todo block */
.todo {
  padding: 27px 0 0;
}

.todo_add {
  padding-top: 18px;
}

.todo_add .task {
  border-bottom: none;
}

.todo_add .input {
  display: block;
}

.todo_completed .name {
  text-decoration: line-through;
  color: #888;
}

.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0;
}

/* task block */
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.edit_mode .name {
  display: none;
}

.edit_mode .input {
  display: block;
}

.task__checkbox {
  margin: 0 10px;
}

.name,
.input {
  flex-grow: 1;
  font-size: 18px;
  box-sizing: border-box;
}

.input {
  display: none;
  flex-grow: 1;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: #888;
  font-family: Lato, sans-serif;
  outline: none;
}

.name {
  padding-left: 10px;
}

.input:focus {
  color: #333;
}

/* buttons */
.button-edit,
.button-delete {
  background: none;
  border: none;
  width: 60px;
  font-size: 15px;
  cursor: pointer;
  color: #888;
  font-family: Lato, sans-serif;
}

.button-edit:hover {
  color: #3a3a3a;
}

.button-delete__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-delete:hover .button-delete__icon {
  transform: rotateZ(0);
}

@media screen and (max-width: 768px) {
  .sponsor {
    text-align: center;
  }

}